:root {
  --my-bg-color: #FEFEFE;
  --my-theme-color:#C28BFF;
  --my-card-bg-color:#F4F4FB;
  --my-card-color:#000000;
    /* or any other variables/style */
}
[data-theme='dark'] {
  --my-bg-color: #000;
  --my-card-bg-color:#1C1C1C;
  --my-card-color:#ffffff;
  
}
[data-theme='purple'] {
  --my-bg-color: #8E5EA2;
}

body{
  background-color: var(--my-bg-color) !important;
  color: white;
}
.ant-card{
  
background-color: var(--my-card-bg-color) ;
color: var(--my-card-color);
box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;;
border: none !important;
}
.ant-card::hover{

}
.ant-card-meta-title{
  color: var(--my-card-color) !important;
}



select{
  padding-top: .25rem;
padding-bottom: .25rem;
padding-left: .5rem;
font-size: .875rem;
border-radius: .25rem;
font-weight: 400;
line-height: 1.5;
color: #212529;
font-size: .875rem;
}

/* Mobile Devices */
@media only screen and (max-width: 767px) {
  /* Styles for small devices go here */
  /* For example: */
  .navbar-brand {
   display: none;
  }
  select{
    display: none;
  }
  .navbar-text{
    width: 100%;
  }
  .ant-drawer-content-wrapper{
    width: 50%;
  }
}

/* Mobile and Tablet Devices */
@media only screen and (max-width: 991px) {
  /* Styles for medium devices go here */
  /* For example: */
  .container {
    width: 90%;
    margin: 0 auto;
  }
}